.rank {
  font-size: 1.7rem;
  color: white;
}

.rank1 {
  color: white;
  font-size: 2rem;
}

.rank-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* This centers the text horizontally */
  justify-content: center; /* This centers the content vertically */
}
