body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(86deg, #ff5edf 0%, #04c8de 100%);
}

.particals {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

center {
  display: flex;
  justify-content: center;
}

.sign-out-nav {
  text-decoration: underline;
  color: black;
  padding: 1rem;
  cursor: pointer;
}

.sign-out-nav:hover,
.image-link-btn:hover {
  box-shadow: 2px 2px 2px 4px;
}

.logo-div {
  margin-top: 0;
}

.tilt {
  border-radius: 2%;
  box-shadow: 1px 2px 2px 2px;
  background: linear-gradient(86deg, #ff5edf 0%, #04c8de 100%);
}

.inner-tilt {
  padding: 3px;
}

.brain-logo {
  padding-top: 5px;
}
